<div class="grid profile-grid">
    <div class="avatar" style="background-image: url(<%= profile.avatar_url %>)"></div>
    <div>
        <h4><%= profile.name %></h4>
        <h6><a href="<%= profile.html_url %>"><%= profile.login %></a></h6>
        <a href="<%= profile.blog %>">blog</a>
        <a href="mailto:<%= profile.email %>">email</a>
    </div>
</div>

<ul class="grid grid-2-400 grid-4-600 repos-grid">
    <% _.forEach(repos, function(r){ %>
        <li>
            <h6><a href="<%= r.html_url %>"><%= r.name %></a></h6>
            <i class="stars"><%= r.stargazers_count %></i>
            <i class="forks"><%= r.forks %></i>

            <hr>

            <% if (!!r.description){ %>
                <p><%= r.description %></p>

                <hr>
            <% } %>

            <label>SSH URL:</label>
            <input type="text" value="<%= r.ssh_url %>">

            <% if (!!r.has_pages){ %>
                <hr>
                <a href="<%= "https://" + r.owner.login + ".github.io/" + r.name %>">gh-pages link</a>
            <% } %>

        </li>
    <% }) %>
</ul>